adal==1.2.7
advocate==1.0.0
alembic==1.7.5
aniso8601==8.0.0
asn1crypto==1.4.0
atsd-client==3.0.5
attrs==21.2.0
Authlib==0.15.5
azure-common==1.1.27
azure-kusto-data==0.0.35
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
backports.zoneinfo==0.2.1
bcrypt==3.2.0
bitarray==2.3.4
blinker==1.4
boto==2.49.0
boto3==1.10.50
botocore==1.13.50
cachetools==4.2.4
cassandra-driver==3.21.0
certifi==2021.10.8
cffi==1.13.2
chardet==3.0.4
charset-normalizer==2.0.7
click==6.7
cmem-cmempy==21.2.3
croniter==1.0.15
cryptography==2.8
cx-Oracle==5.3
DateTime==4.3
decorator==5.1.0
defusedxml==0.7.1
disposable-email-domains==0.0.66
dnspython==1.16.0
docutils==0.15.2
dql==0.5.26
dynamo3==0.4.10
et-xmlfile==1.1.0
firebolt-sqlalchemy==0.0.9
Flask==1.1.1
Flask-Limiter==0.9.3
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.4.1
flask-talisman==0.7.0
Flask-WTF==0.14.3
funcy==1.13
future==0.18.2
geomet==0.1.2
gevent==1.4.0
google-api-python-client==1.7.11
google-auth==2.3.3
google-auth-httplib2==0.1.0
greenlet==0.4.16
grpcio==1.42.0
gspread==3.1.0
gunicorn==20.0.4
httplib2==0.14.0
ibm-db==3.1.0
idna==2.8
ijson==2.6.1
importlib-metadata==4.8.2
importlib-resources==1.5.0
impyla==0.16.0
inflection==0.5.1
influxdb==5.2.3
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.10.0
jsonschema==3.1.1
limits==1.5.1
Mako==1.1.6
MarkupSafe==1.1.1
maxminddb==2.2.0
maxminddb-geolite2==2018.703
memsql==3.0.0
msgpack==1.0.2
mysqlclient==1.3.14
ndg-httpsclient==0.5.1
netifaces==0.11.0
numpy==1.21.4
oauth2client==4.1.3
openpyxl==3.0.7
oscrypto==1.2.1
packaging==21.3
pandas==1.3.4
paramiko==2.8.0
parsedatetime==2.4
passlib==1.7.1
phoenixdb==0.7
ply==3.11
protobuf==3.17.3
psutil==5.8.0
psycopg2==2.8.3
pure-sasl==0.6.2
pyarrow==0.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyathena==2.3.1
pycparser==2.21
pycrypto==2.6.1
pycryptodomex==3.11.0
pydgraph==2.0.2
pydruid==0.5.7
pyexasol==0.12.0
PyHive==0.6.1
PyJWT==1.7.1
pymapd==0.19.0
pymongo==3.9.0
pymssql==2.1.4
PyNaCl==1.4.0
pyodbc==4.0.28
pyOpenSSL==19.0.0
pyparsing==2.3.0
pypd==1.1.0
pyrsistent==0.18.0
pysaml2==6.1.0
pystache==0.5.4
python-dateutil==2.8.0
python-dotenv==0.19.2
python-rapidjson==0.8.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==5.1.2
qds-sdk==1.16.1
rbc-project==0.6.1
rdflib==6.0.2
redis==3.5.0
requests==2.21.0
requests-aws-sign==0.1.5
RestrictedPython==5.0
rq==1.5.0
rq-scheduler==0.9.1
rsa==4.7.2
s3transfer==0.2.1
sasl==0.3.1
semver==2.8.1
sentry-sdk==0.14.4
simple-salesforce==0.74.3
simplejson==3.16.0
six==1.16.0
snowflake-connector-python==2.1.3
SQLAlchemy==1.3.10
SQLAlchemy-Searchable==0.10.6
SQLAlchemy-Utils==0.34.2
sqlparse==0.3.0
sshtunnel==0.1.5
statsd==3.3.0
supervisor==4.1.0
supervisor-checks==0.8.1
td-client==1.0.0
tenacity==8.0.1
thrift==0.15.0
thrift-sasl==0.4.3
thriftpy2==0.4.14
trino==0.306.0
typing-extensions==4.0.0
tzdata==2021.5
tzlocal==4.1
ua-parser==0.8.0
uritemplate==3.0.1
urllib3==1.24.3
user-agents==2.0
validators==0.18.2
vertica-python==0.9.5
websocket-client==1.2.1
Werkzeug==0.16.1
Wraptor==0.7.0
WTForms==2.2.1
xlrd==2.0.1
XlsxWriter==1.2.2
zipp==3.6.0
zope.interface==5.4.0
